/* ===== About Section ===== */
#about {
    display: flex;
    align-items: center;
    padding: 100px 20px;
    max-width: 1400px;
    margin: 0 auto;
    margin-right: 20px;
    min-height: 90vh;
    /* This is used to scroll in a good position */
    scroll-margin-top: 80px;
}

.about-text {
    flex: 1;
    padding: 0 40px;
    margin-left: -20px;
}

.about-text h2 {
    text-align: center; /* Center the header text */
    font-size: 40px;
    margin: 0 auto 30px auto; /* Automatically adjust the top margin */
    width: 100%; /* Ensure the h2 spans the full width of the container */
    display: block; /* Makes sure it behaves like a block element */
}

.about-text p {
    font-size: 20px;
    line-height: 1.7;
    text-align: left;
    color: var(--text-dark);
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

.about-image img {
    width: 400px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    object-fit: contain;
    object-position: center;
    border: 5px solid var(--white);
    box-sizing: border-box;
}

.about-image img:hover {
    transform: scale(1.02);
}

@media (max-width: 1024px) {
    .about-container {
        flex-direction: column;
    }
    
    .about-image {
        flex-direction: row;
        margin-top: 30px;
    }
    
    .about-item {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .about-image {
        flex-direction: column;
    }
}