<!-- About Section -->
<section id="about">
    <div class="about-text">
        <h2><span class="BerkBlue">About</span><span class="BerkGold"> Me</span></h2>
        <p>
            👋 Hi, I'm<strong> Lucas Lovric! </strong> I'm a Croatian-American, born and raised in Sacramento.
            <br><br>
            At <strong>UC Berkeley</strong>, I studied Electrical Engineering & Computer Science, where I honed my skills in software and hardware.
            <br><br>
            When I'm not coding, you can find me playing basketball, dancing kolo, or watching Youtube.
            <br><br><strong>Skills:</strong> Python, Java, C++, C, Ruby, JavaScript, SQL, PostgreSQL, Go, AWS, Pytorch, Scikit-learn, Linux, Git, and more.
        </p>
    </div>
    <div class="about-image">
        <img src="images/CroatianAmerican.jpg" alt="Lucas Lovric">
    </div>
</section>