<!-- About Section -->
<section id="about">
    <div class="about-text">
        <h2><span class="BerkBlue">About</span><span class="BerkGold"> Me</span></h2>
        <p>
            Hi, I’m <strong>Lucas Lovrić</strong>, a Croatian-American software engineer born and raised in Sacramento.
            <br><br>
            I graduated from <strong>UC Berkeley</strong> with a degree in
            <strong>Electrical Engineering & Computer Science</strong>, where I developed a strong foundation in software and systems engineering.
            <br><br>
            Outside of work, I enjoy playing basketball, dancing kolo, and exploring new content on YouTube.
            <br><br>
            <strong>Skills:</strong> Python, Java, C++, C, Go, JavaScript, HTML, CSS, Ruby, SQL, PostgreSQL, AWS, PyTorch, scikit-learn, Linux, Git.
        </p>
    </div>
    <div class="about-image">
        <img src="images/CroatianAmerican.jpg" alt="Lucas Lovric">
    </div>
</section>