<!-- Experience Section -->
<!-- Experience Section -->
<section id="experience">
    <h2><span class="BerkBlue">Exper</span><span class="BerkGold">ience</span></h2>
    <div class="experience-container">
        <div class="experience-list">
            <div class="experience-item">
                <h3><strong>Software Engineer - Microsoft - <em>Fall 2025</em></strong></h3>
                <ul>
                    <li>Windows Servicing and Delivery, Active Directory Team</li>
                </ul>
            </div>
            <div class="experience-item">
                <h3><strong>Software Development Engineer Intern - Amazon Web Services (AWS) - <em>Summer 2024</em></strong></h3>
                <ul>
                    <li>Automated supply chain processes using AWS services, reducing on-call engineer workload by 10 hours per issue.</li>
                </ul>
            </div>
            <div class="experience-item">
                <h3><strong>Research Assistant - UC Berkeley NetSys Lab - <em>Fall 2022</em></strong></h3>
                <ul>
                    <li>Developed access control policies to mitigate data leaks in web apps using PostgreSQL.</li>
                </ul>
            </div>
            <div class="experience-item">
                <h3><strong>Software Lead - UCB Jacobs Institute - <em>2022</em></strong></h3>
                <ul>
                    <li>Designed an award-winning water filtration prototype using Arduino and real-time contamination detection.</li>
                </ul>
            </div>
        </div>
        <div class="experience-images">
            <div class="image-wrapper image1">
                <img src="images/microsoft.png" alt="Microsoft Logo">
            </div>
            <div class="image-wrapper image2">
                <img src="images/aws.png" alt="AWS Logo">
            </div>
            <div class="image-wrapper image3">
                <img src="images/netsys.jpg" alt="NetSys Lab">
            </div>
        </div>
    </div>
</section>